.adWrapper {
  position: fixed;
  right: calc(50% - 500px - 140px);
  top: 150px;
  width: 130px;
  z-index: 100;

  display: flex;
  flex-direction: column;
  gap: 30px;

  max-height: calc(100vh - 200px);
  overflow-y: auto;
  padding-right: 5px;

  scrollbar-width: thin;
}

.adWrapper::-webkit-scrollbar {
  width: 5px;
}
.adWrapper::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.adItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adText {
  font-size: 10px;
  color: #888;
  text-align: center;
  margin-top: 8px;
  word-break: keep-all;
  line-height: 1.4;
}

@media screen and (max-width: 1280px) {
  .adWrapper {
    display: none;
  }
}
